extends ../layouts/auth

block content
  .is-size-5.has-text-centered Login to your account
  if Object.keys(notification).length
    each message, color in notification
      .notification(class=`is-${color}`)=message
  form(action="/login" method="post")
    input(type="hidden" name="_csrf" value=csrfToken)
    .field
      label.label(for="email") Email
      .control
        input#email.input(type="email" name="email" value=inputs.email || "" class=errors.email ? "is-danger" : "")
      if errors.email
        .help.is-danger=errors.email.msg
    .field
      label.label(for="password") Password
      .control
        input#password.input(type="password" name="password" class=errors.password ? "is-danger" : "")
      if errors.password
        .help.is-danger=errors.password.msg
    .field
      .control
        .buttons.is-centered
          button.button.is-info Login
    .field
      .has-text-centered (No account? #[a(href="/register") Register here].)